<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>新的好友</string>
		<string>新手任务</string>
	</array>
	<array>
		<string>我的相册</string>
		<string>我的赞</string>
	</array>
	<array>
		<string>微博支付</string>
		<string>微博运动</string>
	</array>
	<array>
		<string>草稿箱</string>
	</array>
	<array>
		<string>更多</string>
	</array>
</array>
</plist>
